{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <table class="table table-strepid">
        <tr class="table-dark">
            <th>Libellé</th>
            <th>Action</th>
        </tr>
    </table>
{% endblock %}
